@model IEnumerable<MaBiblio.Models.Book>

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
<p>
   <table><tr><td style="width:70%"> @Html.ActionLink("Create New", "Create")</td><td>
       <input value="@ViewBag.FindFilter" class="form-control" style="width:160px" type="text" name="findFilter"></td><td>
   @if (ViewBag.FindFilter == null)
   {
          <input type="submit" name="Find" value="Find" class="btn btn-default" />
   }
   else
   {
    <input type="submit" name="clearFind"  value="Clear" class="btn btn-default" />
   }
       </td></tr></table>
</p>
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>